/**{
    border: 1px blue dashed;
    }
  */  

.box {
background-color:rgba(255,153,0,0.7);
padding:1em;
margin: 1em;
margin-left:3em;}


h2 {
color:#003300;
font-size: 2.5em;}

h4 {
color:#003300;}

.footer {
margin-left: 30%}

header {
color:#003300;}

#home{
padding-top: 2em;
padding-left: 3em;
padding-right: 1em;
}

iframe {
    width: 425;
    padding-top: 1em;
    paddint-left: 1em;
}
ul li {
   list-style-type:none;
}



@media only screen and (max-device-width: 480px) {
  .aside { 
    display:none;
  }}

.motto{
    font-weight: bold;
    font-size: 1.1em;
}

.nav-tabs, .tab-content{
    margin-right: 30px;
    }

.tab-content{
    border-left : 1px #d3d3d3 solid;
     border-right : 1px #d3d3d3 solid;
     border-bottom : 1px #d3d3d3 solid;
    border-radius: 2px;
}

.vertical_spacer{
    height: 30px;
}

.thumbnails{
position: relative;
z-index: 0;
}

.thumbnails:hover{
background-color: transparent;
z-index: 50;
}

.thumbnails span{ /*CSS for enlarged image*/
position: absolute;
left: -1000px;
    padding: 5px;
    background-color:white;
    border-color:1px gray dashed;

visibility: hidden;

}

.thumbnails span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.thumbnails:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: -250px;
left: -100px; /*position where enlarged image should offset horizontally */

}
